body{
    background-image: linear-gradient(to right,#c2e59c,#64b3f4);
}

#header{
    display: flex;
    width: 100%;
    justify-content: center;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

#zoro{
    border-radius: 10px;
}

#descrip{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(231, 35, 0);
    border-style: groove;
    width: 100%;
}

#skills{
    display: flex;
    width: 20%%;
    justify-content: center;

}

#bullets{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px groove black;
}

#links{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px black groove;
}

#link-bullets{
    display: flex;
    flex-direction: column;
}

#mark-down-row{
    display: flex;
}

#mark-pic{
    width: 60px;
}

#javascript-row{
    display: flex;
}

#javascript-gif{
    width: 60px;
}

#css-row{
    display: flex;
}

#css-gif{
    width: 60px;
}

#dom-row{
    display: flex;
}

#dom-gif{
    width: 60px;
}

#thinking-row{
    display: flex;
}

#thinking-gif{
    width: 60px;
}

#footer{
    display: flex;
    width: 100%;
    background-color: lightblue;
    border: 1px solid black;
    height: 60px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: forestgreen;
    font-size: 20px;
}

@media (max-width:375px){
    body{
        margin: 0%;
        padding: 0%;
        background-color: lightcyan;
        background-image: none;
    }

    #title{
        width: 100%;
    }
    
    #descrip{
        width: 100%;
        font-family: fantasy;
        border-width: 100%;
    }
    
    #skills{
        flex-direction: column;
        width: 100%;
        font-family: fantasy;
    }

    #bullets{
        flex-direction: row;
        width: 100%;
    }

    #links{
        flex-direction: column;
        border: none;
    }

    #javascript-gif{
        height: 60px;
    }

}

@media (max-width:1024px) and (min-width:376px){
    body{
        margin: 0%;
        padding: 0%;
        
    }

    #title{
        width: 100%;
        height: 40%;
    }
    
    #descrip{
        width: 100%;
        font-family: fantasy;
        border-width: 100%;
        font-size: 40px;
        
    }
    
    #skills{
        flex-direction:  column-reverse;
        width: 100%;
        font-family: fantasy;
    }

    #bullets{
        flex-direction: row;
        width: 100%;
        font-size: 60px;
    }

    #mark-down-row{
        flex-direction: column-reverse;
    }

    #mark-pic{
        width: 50%;
        
    }

    #javascript-row{
        flex-direction: column-reverse;
    }

    #javascript-gif{
        width: 50%;
        
    }

    #css-row{
        flex-direction: column-reverse;
    }

    #css-gif{
        width: 50%;
    }

    #dom-row{
        flex-direction: column-reverse;
    }

    #dom-gif{
        width: 50%;
    }

    #links{
        flex-direction: column;
        border: none;
        font-size: 45px;
        
    }

    #javascript-gif{
        widows: 50%;
    }

    #thinking-row{
        flex-direction: column-reverse;
    }

    #thinking-gif{
        width: 50%;
    }

    #footer{
        width: 100%;
        height: 50%;
        font-size: 40px;
    }

    


}